
:root {
  --cor-body-background: #fff;
  --cor-tipografia-geral: #333333;

  --cor-faixa-verde: #2f9e41;
  --cor-menu-background: #2f9e41;
  --cor-titulo-principal: #cd191e;
  --cor-detalhe-background: #2f9e41;
  --cor-tipografia-faq: #cd191e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;

  -webkit-font-smoothing: antialiased;    /* Suaviza fontes, em alguns navegadores, tipo o Chrome */
}

body {
  background-color: black;

  margin: 0 auto;

  width: 100%;
  max-width: 757px; /* Eu acho melhor 960px, IGUAL NO SITE IFSP, no Figma está 757px, e cada apresentação tinha um tamanho diferente */
  min-height: 1000px;

  display: flex;
  flex-direction: column;
  align-items: center;
}